/* COLORS:
Color Name: Gold. Hex: #FFD700. RGB: rgb(255, 215, 0)
Color Name: Silver. Hex: #C0C0C0. RGB: rgb(192, 192, 192)
Color Name: Gainsboro. Hex: #DCDCDC RGB: rgb(220, 220, 220)
Color Name: MidnightBlue. Hex: #191970. RGB: rgb(25, 25, 112)
Color Name: SteelBlue. Hex: #4682B4. RGB: rgb(70, 130, 180)
Color Name: DarkSeaGreen. Hex: #8FBC8B. RGB: rgb(143, 188, 139)
*/

/* FONTS:
Body: font-family: 'Noto Sans', sans-serif;
Heading: font-family: 'Oswald', sans-serif;
Subheading: font-family: 'Raleway', sans-serif;
My Books: font-family: 'Homemade Apple', cursive;
Form?: font-family: 'Courier Prime', monospace;
Form?:font-family: 'Cutive Mono', monospace;
font-family: 'Poppins', sans-serif;

*/
/* * {
  background-color: DarkSeaGreen;
} */

/* a {
  text-decoration: none;
}

label {
  display: block;
} */

/* nav {
  background-color: DarkSeaGreen;
}

nav a {
  display: inline-block;
} */

.recipeform-enter {
  opacity: 0;
}
.recipeform-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.recipeform-exit {
  opacity: 1;
}
.recipeform-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

form div {
  /* margin: 1em; */
  display: inline-block;
}

label {
  font-size: 1.25em;
  padding-top: 10px;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.0625em;
}

.recipe-form-span {
  padding-top: 2px;
  padding-bottom: 10px;
  font-size: 0.75em;
  letter-spacing: 0.02em;
}

input[type='text'] {
  padding: 12px 20px;
  margin: 8px 0;
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 3px solid #000000;
  background-color: #ffffff;
  font-size: 1em;
  font-family: 'Courier Prime', monospace;
  outline: none;
}

input[type='password'] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 3px solid black;
  background-color: #ffffff;
  outline: none;
}

input:focus {
  background-color: rgb(244, 245, 244);
}

textarea {
  padding: 12px 20px;
  margin: 8px 0;
  min-height: 200px;
  width: 100%;
  box-sizing: border-box;
  border: 3px solid #000000;
  background-color: #ffffff;
  font-size: 1em;
  font-family: 'Courier Prime', monospace;
  outline: none;
}

textarea:focus {
  background-color: rgb(244, 245, 244);
}

textarea::-webkit-scrollbar {
  width: 12px;
  background-color: gainsboro;
}

textarea::-webkit-scrollbar-thumb {
  height: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #8fbc8b;
}

.food-item {
  width: 100%;
  height: 225px;
  object-fit: cover;
  overflow: hidden;
  padding: none;
  position: relative;
  top: 0px;
  opacity: 0.8;
}
